@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, 'nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(
      to right,
      rgba(46, 12, 195, 0.758),
      rgba(25, 204, 37, 0.7)
    ),
    url(bgpic.png);
  /* background-repeat: no-repeat; */
  /* background-position: top; */
  background-size: cover;
}

/* LAYOUT */
.header {
  font-size: 2.5rem;
  position: absolute;
  padding: 1%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 12%;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  background-image: linear-gradient(
      to right,
      rgba(46, 12, 195, 0.758),
      rgba(25, 204, 37, 0.7)
    ),
    url(bgpic.png);
  color: white;
  text-align: center;
  background-size: cover;
}
.header-primary {
  /* margin-top: -3rem; */
}
.container {
  height: 95%;
  width: 70%;
  margin: 1.5% auto;
  /* max-width: 120rem; */
  background-image: linear-gradient(
      to right bottom,
      rgba(207, 15, 15, 0.958),
      rgba(66, 13, 173, 0.956)
    ),
    url(bgpic.png);
  position: relative;
  backdrop-filter: blur(200px);
  filter: blur();
  border-radius: 9px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  display: flex;
  overflow: hidden;
}
.howToPlay {
  background-color: #fff;
  margin: auto;
  height: auto;
  z-index: 100;
  font-size: 2.8rem;
  border: 1px solid blue;
  padding: 2%;
  text-align: center;
}

.player {
  width: 50%;
  padding: 9%;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4.3rem;
  margin: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.score {
  margin-bottom: auto;
  font-weight: 300;
  color: #fff;
  font-size: 6rem;
  /* height: 20%; */
}
.player--active {
  background-image: linear-gradient(
      to right bottom,
      rgba(241, 7, 7, 0.958),
      rgba(12, 206, 57, 0.956)
    ),
    url(bgpic.png);
}

.player--active .name {
  font-weight: 700;
}

.player--active .score {
  font-weight: 400;
}
.player--active .current {
  opacity: 1;
}

.current {
  background-image: linear-gradient(
      to right bottom,
      rgba(46, 12, 195, 0.958),
      rgba(25, 204, 37, 0.9)
    ),
    url(bgpic.png);
  width: 60%;
  display: block;
  opacity: 0.8;
  border-radius: 9px;
  padding: 3%;
  margin-top: -30%;
  text-align: center;
  color: white;
  transition: all 0.75rem;
}

.current-label {
  margin-bottom: 1rem;
  color: #ddd;
  font-size: 2.5rem;
  font-weight: 700;
}

.current-score {
  font-size: 3rem;
}

/* ABSOLUTE POSITION OF ELEMENTS */
.btn {
  padding: 1.5rem 1.5rem;
  font-size: 2.5rem;
  border-radius: 4rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  color: #444;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  font-weight: all 0.2s;

  background-color: #fff;
  background-color: rgb(5px);
}
.btn::first-letter {
  font-size: 2.7rem;
  display: inline-block;
  margin-right: 0.7rem;
}
.btn--move {
  margin-top: 0;
  height: 50%;
  background-color: #fff;
  padding-top: 50rem;
  font-size: 60em;
}
.btn--new {
  top: 35%;
}

.btn--roll {
  top: 45%;
}

.btn--hold {
  top: 55%;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}
.button {
  padding: 1.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 4rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);

  background: none;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  font-weight: all 0.2s;
  background-color: black;
}
.button-HTP {
  font-size: 15px;
  position: absolute;
  left: 12%;
  top: 38%;
  transform: translateX(-50%);
}

.button-back {
  position: absolute;
  top: 74%;
  right: 18%;
  transform: translateX(-50%);
  font-size: 2.2rem;
  cursor: pointer;
  border: none;
}
.button-audio-1 {
  font-size: 2rem;
  position: absolute;
  right: 2%;
  top: 38%;
  transform: translateX(-50%);
}
.button-audio-2 {
  font-size: 2rem;
  position: absolute;
  right: 9%;
  top: 38%;
  transform: translateX(-50%);
}

.dice {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  height: 13%;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-image: linear-gradient(
      to right bottom,
      rgba(18, 13, 13, 0.958),
      rgba(20, 15, 30, 0.956)
    ),
    url(bgpic.png);
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.footer_copyright {
  font-size: 2.3rem;
  width: 100%;
  margin-top: -2rem;
  padding-top: 2rem;
  color: #fff;
  height: 10%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-image: linear-gradient(
      to right bottom,
      rgba(70, 39, 210, 0.758),
      rgba(10, 130, 18, 0.7)
    ),
    url(bgpic.png);
}

@media only screen and (max-width: 1500px) {
  html {
    font-size: 55%;
  }
  .header {
    font-size: 2rem;
    height: 11%;
    padding: 2%;
  }

  .container {
    width: 80%;
    margin: 2% auto;
  }
  .button-back {
    top: 75%;
    right: 23%;
  }
  .howToPlay {
    font-size: 2.8rem;
    padding: 3.5rem;
  }
  .button-back {
    top: 73%;
    right: 15%;
    font-size: 2.2rem;
  }
  .button-HTP {
    top: 23%;
  }
  .button-audio-1 {
    top: 23%;
  }
  .button-audio-2 {
    top: 23%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
  .container {
    width: 90%;
    margin: 2% auto;
  }
  .player {
    padding-top: 15%;
  }
  .button-back {
    top: 72%;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 45%;
  }
  .container {
    width: 90%;
    margin: 2% auto;
  }
  .player {
    padding-top: 25%;
    /* padding: 7%; */
  }
  .name {
    font-size: 4rem;
  }
  .btn {
    font-size: 3.3rem;
  }
  .current {
    margin-bottom: 5%;
  }
  .howToPlay {
    width: 70%;
  }
  .button-back {
    top: 76%;
    right: 12%;
  }
}

@media only screen and (max-width: 650px) {
  html {
    font-size: 40%;
  }
  .header {
    font-size: 2rem;
    height: 11%;
    padding: 4%;
  }
  .container {
    width: 93%;
    margin: 2% auto;
  }
  .player {
    padding-top: 30%;
  }
  .name {
    font-size: 3.6rem;
  }
  .btn {
    font-size: 3rem;
  }
  .current {
    margin-bottom: 5%;
  }
  .button-HTP {
    top: 110%;
    left: 15%;
  }

  .button-audio-1 {
    top: 110%;
  }
  .button-audio-2 {
    top: 110%;
    right: 11%;
  }

  .button-back {
    top: 75%;
    right: 12%;
  }
}

@media only screen and (max-width: 550px) {
  html {
    font-size: 35%;
  }
  .header {
    font-size: 2rem;
    height: 8%;
    margin-top: -3%;
  }

  .player {
    padding-top: 35%;
  }
  .name {
    font-size: 3.3rem;
  }
  .btn {
    font-size: 3rem;
  }
  .current {
    margin-bottom: 20%;
  }
  .button-HTP {
    top: 110%;
    font-size: 2rem;
    left: 15%;
    padding: 1.3rem;
  }

  .button-audio-1 {
    font-size: 4rem;
    padding: 0.2rem;
    top: 110%;
  }
  .button-audio-2 {
    font-size: 4rem;
    padding: 0.2rem;
    top: 110%;
    right: 11%;
  }

  .button-back {
    top: 70%;
    right: 13%;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 35%;
  }
  .header {
    font-size: 2rem;
    height: 10%;
  }
  .player {
    width: 100%;
    padding: 1%;
    padding-top: 35%;
  }
  .container {
    margin: 6% auto;
  }
  .name {
    font-size: 3.2rem;
  }
  .score {
    font-size: 5rem;
  }
  .btn {
    font-size: 1.7rem;
  }
  .btn::first-letter {
    font-size: 1.7rem;
  }
  .dice {
    height: 10.5%;
  }
  .button-HTP {
    font-size: 1.5rem;
  }
  .button-audio-1 {
    margin-right: -2%;
    font-size: 3rem;
  }
  .button-audio-2 {
    font-size: 3rem;
  }
  .current {
    margin-bottom: 40%;
    padding: 4%;
  }
  .current-label {
    font-size: 2.7rem;
  }

  .current-score {
    font-size: 3rem;
  }
  .howToPlay {
    width: 85%;
    padding: 2rem;
  }
  .button-back {
    top: 70%;
    right: 3.5%;
  }
  .footer_copyright {
    font-size: 2rem;
    height: 12%;
  }
}
@media only screen and (max-width: 376px) {
  .button-back {
    top: 75%;
  }
}
@media only screen and (max-width: 350px) {
  html {
    font-size: 30%;
  }
  .player {
    padding-top: 40%;
  }
  .header {
    font-size: 2rem;
    margin-top: 0rem;
  }
  .container {
    height: 90%;
    margin: 10% auto;
  }
  .name {
    font-size: 3.2rem;
  }
  .score {
    font-size: 4.3rem;
  }
  .current {
    margin-bottom: 50%;
  }
  .current-label {
    font-size: 2.5rem;
  }
  .current-score {
    font-size: 3rem;
  }
  .btn {
    font-size: 2.2rem;
  }
  .btn::first-letter {
    font-size: 2.42rem;
  }
  .button-HTP {
    left: 20%;
    font-size: 1.6rem;
  }
  .button-audio-1 {
    margin-right: -4%;
  }
  .button-back {
    top: 68%;
    right: 4%;
  }
}
@media only screen and (max-width: 280px) {
  .button-back {
    top: 78%;
  }
}
